@model Dogs.Models.Cachorro

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Cachorro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca" class="control-label"></label>
                <input asp-for="Raca" class="form-control" />
                <span asp-validation-for="Raca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idade"></label>
                <select asp-for="Idade">
                    <option value="2 meses">2 meses</option>
                    <option value="3 meses">3 meses</option>
                    <option value="4 meses">4 meses</option>
                    <option value="5 meses">5 meses</option>
                    <option value="6 meses">6 meses</option>
                    <option value="7 meses">7 meses</option>
                    <option value="8 meses">8 meses</option>
                    <option value="9 meses">9 meses</option>
                    <option value="10 meses">10 meses</option>
                    <option value="11 meses">11 meses</option>
                    <option value="1 ano">1 ano</option>
                    <option value="2 anos">2 anos</option>
                    <option value="3 anos">3 anos</option>
                    <option value="4 anos">4 anos</option>
                    <option value="5 anos">5 anos</option>
                    <option value="6 anos">6 anos</option>
                    <option value="7 anos">7 anos</option>
                    <option value="8 anos">8 anos</option>
                    <option value="9 anos">9 anos</option>
                    <option value="10 anos">10 anos</option>
                    <option value="11 anos">11 anos</option>
                    <option value="12 anos">12 anos</option>
                    <option value="13 anos">13 anos</option>
                    <option value="14 anos">14 anos</option>
                    <option value="15 anos">15 anos</option>
                    <option value="16 anos">16 anos</option>
                    <option value="17 anos">17 anos</option>
                    <option value="18 anos">18 anos</option>
                    <option value="19 anos">19 anos</option>
                    <option value="20 anos">20 anos</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Genero"></label>
                <select asp-for="Genero">
                    <option value="Macho">Macho</option>
                    <option value="Fêmea">Fêmea</option>
                </select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Castracao" /> @Html.DisplayNameFor(model => model.Castracao)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Vacinacao" /> @Html.DisplayNameFor(model => model.Vacinacao)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para a Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
